@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,700&display=swap');

body{
    background-color: #dfe6e9;
    color: #2d3436;
    margin: 0;
    padding: 1%;
    box-sizing: border-box;
}
*{
    padding: 0;
    margin: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.tittle{
    color: #0984e3;
    font-size: 1.6em;
    border-bottom: 1px solid #0984e3;
    padding: 2% 0;
    margin-bottom: 4%;
}