#indexTitle{
    text-align: center;
    padding: 4%;
    border-bottom: 1px solid #2d3436;
    margin-bottom: 4%;
}
#index{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
#index a{
    border: 1px solid #0984e3;
    color: #0984e3;
    text-decoration: none;
    padding: 4%;
    margin: 2%;
    font-weight: bold;
}
#index a:hover{
    background: #0984e3;
    color: #dfe6e9;
    transition: all .5s;
}