#vd{
    color: #e17055;
}
.entrada{
    border: 1px solid #e17055; 
}
.loginCamp{
    border: 1px solid #00b894; 
}
.logoutCamp{
    border: 1px solid #d63031; 
}
.l{
    display: flex;
    flex-direction: column;
    padding: 1%;
    width: 40%;
    align-items: flex-start;
    border-bottom: none!important;
}
